.landing-section {
    width: 100%;
    height: 600px;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(Assets/img/bread.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.landing-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 16px;
}

.landing-heading {
    text-transform: uppercase;
    font-size: var(--H1);
    text-align: center;
    color: #fff;
}

.landing-text { 
    font-size: 30px;
    text-align: center;
    color: #fff;
}

button a {
    color: #E5D2BC;
}

.landing-buttons-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.landing-buttons-container .button {
    background-color: var(--accent1);
    color: #E5D2BC;
}

.landing-buttons-container .button:nth-child(2) {
    background-color: var(--accent2);
}

.info-section {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background);
    color: var(--text);
    gap: 50px;
}

.info-section hr{
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--text);
    color: var(--text);
    border: none;
}   

.info-card-container {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info-card {
    width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

figcaption.info-text {
    font-size: var(--H2);
    text-align: center;
}

img.info-image {
    width: 120px;
    height: 120px;
}

section.map {
    width: 100%;
    display: flex;
}

@media (width < 1280px) {
    .info-card-container {
        flex-direction: column;
    }
    
    .landing-heading {
        font-size: var(--H2);
    }
    
    .landing-text { 
        font-size: 20px;
    }
}

@media (width < 730px) {
    .info-card-container {
        flex-direction: column;
    }
    
    .landing-content-wrapper {
        width: 320px;
    }
    
    .landing-text { 
        font-size: 20px;
    }
}
@media (width <= 470px) {
    .info-section {
        padding: 30px;
    }

    figcaption.info-text {
        font-size: var(--H2-mobile);
    }
}